.main-container{
    display: flex;
    height: 100vh; 
    width: 100vw;
    justify-content: center;
    padding: 3rem 0rem 0rem 0rem;

}

.main-container>img{
    width:55vw;
   
}

.info{
    padding: 0rem 1rem 1rem 1.5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
}
.info>h1{
    text-transform: uppercase;
    font-family: 'Montserrat', sans-serif;
    color: rgba(16, 44, 115, 0.767);
    padding-bottom: 0.7rem;
    line-height: 1.1;
    font-size: 3.8rem;
    transition: all ease 0.3s;
    text-shadow: 1px 1px 1px;
    cursor: pointer;
    width: 100%;
   
}

.info>h1:hover{
   text-shadow: 1px 1px 1px black;
}
.info>p{
    font-family:"roboto";
    font-size: 1.3rem;
    line-height: 1.3;
    color: rgba(4, 4, 4, 0.707);
    align-items: center;
    padding-right: 5rem;
 
}

.button-1{
    width: 7rem;
    padding:0.7rem;
    margin-top:2rem;
    font-size: 1rem;
    border-radius: .85rem;
    background: var(--color-white);
    transition: all ease-in-out 0.3s;
    border: 2px solid var(--color-black);
    font-weight: 600;
   
}

.button-1:hover{
    background-color: rgb(214, 241, 246);
    font-weight: 600;
    box-shadow: 2px 4px 4px rgb(9, 12, 13);
    /* border: 2px solid var(--color-db); */
}

@media screen and (max-width: 1000px) {
.main-container{
    display: flex;
    flex-direction: column;
}
.main-container img{
    width: 100%;
    height: 50%;
    justify-content: start;
}
.info{
    justify-content: center;
    align-items: center;
    text-align: center;
    position: static;

}
.info>h1{
    padding: 1rem;
    
}
.info>p{
    padding: 0;
    
}
}