.contact{
    width: 100vw;
    display: flex;
    flex-direction: row;

}

.contact img{
    width:60vw;
    height: 100vh;

}
.contact .info{
align-items: baseline;
width: 100%;
gap: 2rem;

}
.contact-card{
    display: flex;
    flex-direction: column;
}

.contact-card>h2{
    font-size: 1.6rem;
}

@media screen and (max-width: 1000px) {
    .contact{
        /* flex-direction: column; */
        flex-direction: column-reverse;
    }
    .contact img{
        width: 100vw;
        height: 40%;
    }
    .contact .info{
        align-items: center;
        justify-content: center;
        width: 100%;
        gap: 2rem;
        }
        .contact-card>h2{
            font-size: 1.4rem;
        }
        .info>h1{
            font-size: 2rem;
        }
        
    }