.nav-bar {
  width: 100%;
  height: 4rem;
  display: flex;
  justify-content: space-between;
  padding: 1rem;
  align-items: center;
  background: rgb(44, 202, 234);
  position: fixed;
  z-index: 500;
}

.nav-links {
  margin: 1rem 0rem;
  width: 100%;
  display: flex;
  justify-content: right;
  align-items: center;
  gap: 1rem;
  
}
.nav-items ul {
  display: flex;
  gap: 1rem;
  font-family: 'Ubuntu', sans-serif;
  font-size: 1.2rem;
  align-items: center;
  padding: 0rem 0.3rem;
 
}
.nav-items a {
  color: var(--color-black);
  font-weight: 500;
  text-decoration: none;
  background-image: linear-gradient(#000000, #000000d7);
  background-size: 0% 0.1em;
  padding-bottom: 0.3rem;
  background-position-y: 100%;
  background-position-x: 0%;
  background-repeat: no-repeat;
  transition: 0.3s ease-in-out;
}
.nav-items a:hover,
.nav-items a:focus,
.nav-items a:active {
  background-size: 100% 0.1em;
  text-shadow: #00000042 1px 1px 1px;
}

.nav-links button {
  font-size: 1rem;
}
img {

  height: 100%;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.3rem;
}
.hamburger,
.close {
  display: none;
}

.inactive {
  display: none;
}

@media only screen and (max-width: 650px) {
  .nav-items {
    display: none;
  }
  .close {
    display: block;
  
    font-size: 1.5rem;
    transition: all ease 0.2s;
    color: var(--color-black);
    cursor: pointer;
  }
  .hamburger {
    /* width: 1rem; */
    display: block;
    font-size: 1.5rem;
    transition: all ease 0.2s;
    color: var(--color-black);
    cursor: pointer;
  }


  .mob-items {
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 4rem;
    margin-right: -1rem;
    width: 100%;
    color: black;
    padding: 1rem 0rem;
    background: rgba(252, 252, 252);
    z-index: 501;

  }

  .mob-items ul {
    display: flex;
    flex-direction: column;
  }
}

