*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  border: 0;
  outline: 0;
  list-style: none;
}

a{
  color: var(--color-white);
}

:root{
  /* --------COLORS----------- */
  --color-bg: #f1f1f1;
  --color-primary: #c1e4ff;
  --color-secondary:#e7ddf2;
  --color-white: #fff;
  --color-green: #83d39d;
  --color-black: #000000;
} 

.button{
  padding: 0.4rem 0.6rem;
  font-family: poppins;
  background: var(--color-BG);
  color: var(--color-white);
  border: 2px var(--color-primary) solid;
  font-weight: 500;
  /* font-size: 1rem; */
  transition: 0.3s ease all;
  z-index: 2;
  cursor: pointer;
}
.button:hover{
background: var(--color-primary);
color: var(--color-black);

}




body{
  background-color: var(--color-bg);
  color: var(--color-black);
}